.background {
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 10;
}

.background>img {
    width: 100%;
}

.ocean-img{
    margin-top: 200px;
}
.ocean-img-hide{
    margin-top: -577px;
    height: 1381px;
}

.linear-image{
    position:absolute;
    top: 760px;
    width: 100%;
    left: 0px;
    // height: 3719px;
    background-position: top;
    background: transparent linear-gradient(180deg, #053554 0%, #000000 100%) 0% 0% no-repeat padding-box;
}

.small-1 {
    position: absolute;
    top: 25%;
    left: 44%;
    width: 20px;
    height: 20px;
    background: transparent radial-gradient(closest-side at 50% 50%, #003C58 0%, #005A84 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    border-radius: 50%;
    z-index: 10;
}

.small-2 {
    position: absolute;
    top: 28%;
    left: 78%;
    width: 74px;
    height: 74px;
    background: transparent radial-gradient(closest-side at 50% 50%, #003C58 0%, #005A84 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    border-radius: 50%;
    z-index: 10;
}

.small-3 {
    position: absolute;
    top: 29%;
    left: 70%;
    width: 34px;
    height: 34px;
    background: transparent radial-gradient(closest-side at 50% 50%, #003C58 0%, #005A84 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    border-radius: 50%;
    z-index: 10;
}

.small-4 {
    position: absolute;
    top: 33%;
    left: 40%;
    width: 20px;
    height: 20px;
    background: transparent radial-gradient(closest-side at 50% 50%, #003C58 0%, #005A84 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    border-radius: 50%;
    z-index: 10;
}

.small-5 {
    position: absolute;
    top: 40%;
    left: 2%;
    width: 21px;
    height: 21px;
    background: transparent radial-gradient(closest-side at 50% 50%, #003C58 0%, #005A84 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    border-radius: 50%;
    z-index: 10;
}

.small-6 {
    position: absolute;
    top: 44%;
    right: 0%;
    width: 20px;
    height: 20px;
    background: transparent radial-gradient(closest-side at 50% 50%, #003C58 0%, #005A84 100%) 0% 0% no-repeat padding-box;
    opacity: 0.23;

    border-radius: 50%;
    z-index: 10;
}

.small-7 {
    position: absolute;
    top: 34%;
    right: 50%;
    width: 36px;
    height: 36px;
    background: transparent radial-gradient(closest-side at 50% 50%, #003C58 0%, #005A84 100%) 0% 0% no-repeat padding-box;
    opacity: 0.23;

    border-radius: 50%;
    z-index: 10;
}

.small-8 {
    position: absolute;
    top: 35%;
    right: 60%;
    width: -2%;
    height: 20px;
    background: transparent radial-gradient(closest-side at 50% 50%, #003C58 0%, #005A84 100%) 0% 0% no-repeat padding-box;
    opacity: 0.23;

    border-radius: 50%;
    z-index: 10;
}

.small-9 {
    position: absolute;
    top: 30%;
    left: 29%;
    width: 69px;
    height: 69px;
    background: transparent radial-gradient(closest-side at 50% 50%, #003C58 0%, #005A84 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    border-radius: 50%;
    z-index: 10;
}
.mark-img{
    position: absolute;
    top: 1806px;
    left: 50%;
    width: 500px !important;
    height: 500px;
    transform: translate(-250px, 0);
    opacity: 1;
}

.jellyfish-1{
    position: absolute;
    top: 31%;
    left: 56%;
    width: 115px !important;
    height: 230px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    mix-blend-mode: screen;
    opacity: 0.95;
    z-index: 10;
    animation-duration: 1s;
    animation-name: changewidth1;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
    @keyframes changewidth1 {
        from {
            width: 115px;
            height: 230px;
            top: 31%;
        }
      
        to {
            width: 125px;
            height: 240px;
            top: calc(31% + 10px);
        }
    }
}

.jellyfish-2 {
    position: absolute;
    top: 28%;
    left: -3%;
    width: 103px;
    height: 212px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    mix-blend-mode: screen;
    opacity: 0.77;
    z-index: 10;
    animation-duration: 1.25s;
    animation-name: changewidth2;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(0.3, 0.1, 0.8, 0.6);
    @keyframes changewidth2 {
        from {
            width: 103px;
            height: 212px;
            top: 28%;
        }
      
        to {
            width: 110px;
            height: 220px;
            top: calc(28% + 7px);
        }
    }
}

.jellyfish-3 {
    position: absolute;
    top: 40%;
    right: 5%;
    width: 77px ;
    height: 170px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    mix-blend-mode: screen;
    opacity: 0.58;
    z-index: 10;
    animation-duration: 1.4s;
    animation-name: changewidth3;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(1.0, 0.3, 0.1, 0.1);
    @keyframes changewidth3 {
        from {
            width: 77px;
            height: 170px;
            top: 40%;
        }
      
        to {
            width: 85px;
            height: 175px;
            top: calc(40% + 15px);
        }
    }
}

.jellyfish-4 {
    position: absolute;
    top: 46%;
    right: 85%;
    width: 70px !important;
    height: 155px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    mix-blend-mode: screen;
    opacity: 0.73;
    z-index: 10;
    animation-duration: 0.9s;
    animation-name: changewidth4;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(0.3, 0.3, 0.1, 0.9);
    @keyframes changewidth4 {
        from {
            width: 70px;
            height: 155px;
            top: 38%;
            opacity: 0.73;
        }
      
        to {
            width: 80px;
            height: 160px;
            top: calc(38% + 10px);
            opacity: 0.43;
        }
    }
}