.sub_nav_bar {
    background: #000000 0% 0% no-repeat padding-box;
    opacity: 0.5;
    .fill_btn{
        background-color: #003C58 !important;
    }
    margin-bottom: 40px;
}

.sub_container {
    padding-left: 90px;
    padding-right: 90px;
    width: 100%;
    margin-bottom: 50px;
}

.collection_itm_container {
    width: 400px;
    height: 486px;
    background: transparent linear-gradient(218deg, #99D3E5 0%, #E2F8FF 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 40px #16B4FF31;
    border-radius: 25px;
    opacity: 1;
    filter: blur(0px);
    .flip_side {
        width: 384px;
        height: 384px;
        background: #086A98 0% 0% no-repeat padding-box;
        border-radius: 22px;
        margin-bottom: 10px;
    }
    .fron_side {
        border-radius: 22px;
        width: 384px;
        margin-bottom: 10px;
        height: 384px;
    }
}