.anim_btn {
  &:hover {
    box-shadow: 0px 0px 20px #16B4FF8E;
    border: 1px solid #16B4FF;
    .hover_on {
      position: absolute !important;
      left: 15px !important;
    }
  }
  position: relative;
  .hover_on {
    position: absolute !important;
    left: 0px !important;
    transition: 400ms;
  }
}
