.mint_container {
  background-image: url('../../../assests/images/ocean-background3.png'),
    linear-gradient(180deg, #99d3e5 0%, #053554 44%, #000000 100%);
  background-repeat: no-repeat;
  position: relative;
}

.mint_container_dark {
  background-image: url('../../../assests/images/ocean-background-dark3.png'),
    linear-gradient(180deg, #05365c 1%, #000000 100%);
  background-repeat: no-repeat;
  position: relative;
}

.mint_bg {
  .small-mint-1 {
    position: absolute;
    top: 45%;
    left: 44%;
    width: 20px;
    height: 20px;
    background: transparent
      radial-gradient(closest-side at 50% 50%, #003c58 0%, #005a84 100%) 0% 0%
      no-repeat padding-box;
    opacity: 0.2;
    border-radius: 50%;
    z-index: 10;
  }

  .small-mint-2 {
    position: absolute;
    top: 48%;
    left: 58%;
    width: 74px;
    height: 74px;
    background: transparent
      radial-gradient(closest-side at 50% 50%, #003c58 0%, #005a84 100%) 0% 0%
      no-repeat padding-box;
    opacity: 0.6;
    border-radius: 50%;
    z-index: 10;
  }

  .small-mint-3 {
    position: absolute;
    top: 39%;
    left: 90%;
    width: 34px;
    height: 34px;
    background: transparent
      radial-gradient(closest-side at 50% 50%, #003c58 0%, #005a84 100%) 0% 0%
      no-repeat padding-box;
    opacity: 0.5;
    border-radius: 50%;
    z-index: 10;
  }

  .small-mint-4 {
    position: absolute;
    top: 33%;
    left: 40%;
    width: 20px;
    height: 20px;
    background: transparent
      radial-gradient(closest-side at 50% 50%, #003c58 0%, #005a84 100%) 0% 0%
      no-repeat padding-box;
    opacity: 0.3;
    border-radius: 50%;
    z-index: 10;
  }

  .small-mint-5 {
    position: absolute;
    top: 50%;
    left: 2%;
    width: 21px;
    height: 21px;
    background: transparent
      radial-gradient(closest-side at 50% 50%, #003c58 0%, #005a84 100%) 0% 0%
      no-repeat padding-box;
    opacity: 0.3;
    border-radius: 50%;
    z-index: 10;
  }

  .small-mint-6 {
    position: absolute;
    top: 54%;
    right: 0%;
    width: 20px;
    height: 20px;
    background: transparent
      radial-gradient(closest-side at 50% 50%, #003c58 0%, #005a84 100%) 0% 0%
      no-repeat padding-box;
    opacity: 0.23;

    border-radius: 50%;
    z-index: 10;
  }

  .small-mint-7 {
    position: absolute;
    top: 39%;
    right: 26%;
    width: 36px;
    height: 36px;
    background: transparent
      radial-gradient(closest-side at 50% 50%, #003c58 0%, #005a84 100%) 0% 0%
      no-repeat padding-box;
    opacity: 0.23;

    border-radius: 50%;
    z-index: 10;
  }

  .small-mint-8 {
    position: absolute;
    top: 55%;
    right: 30%;
    width: -2%;
    height: 20px;
    background: transparent
      radial-gradient(closest-side at 50% 50%, #003c58 0%, #005a84 100%) 0% 0%
      no-repeat padding-box;
    opacity: 0.23;

    border-radius: 50%;
    // z-index: 10;
  }

  .small-mint-9 {
    position: absolute;
    top: 58%;
    left: 29%;
    width: 69px;
    height: 69px;
    background: transparent
      radial-gradient(closest-side at 50% 50%, #003c58 0%, #005a84 100%) 0% 0%
      no-repeat padding-box;
    opacity: 0.3;
    border-radius: 50%;
    z-index: 10;
  }

  .jellyfish-mint-1 {
    position: absolute;
    left: 36%;
    top: 40%;
    width: 303px !important;
    height: 302px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    mix-blend-mode: screen;
    opacity: 0.89;
    z-index: 10;
    animation-duration: 1s;
    animation-name: changewidth1;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
    @keyframes changewidth1 {
      from {
        width: 303px;
        height: 302px;
        top: 40%;
      }

      to {
        width: 313px;
        height: 312px;
        top: calc(40% + 15px);
      }
    }
  }

  .jellyfish-mint-2 {
    position: absolute;
    right: -3%;
    width: 203px !important;
    top: 27%;
    transform: matrix(1, 0, 0, 1, 0, 0);
    mix-blend-mode: screen;
    opacity: 0.77;
    z-index: 10;
    animation-duration: 1.25s;
    animation-name: changewidth2;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(0.3, 0.1, 0.8, 0.6);
    @keyframes changewidth2 {
      from {
        width: 203px;
        top: 27%;
      }

      to {
        width: 213px;
        top: calc(27% + 15px);
      }
    }
  }

  .jellyfish-mint-3 {
    position: absolute;
    top: 18%;
    left: 0%;
    height: 245px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    mix-blend-mode: screen;
    opacity: 0.43;
    z-index: 10;
    animation-duration: 1.4s;
    animation-name: changewidth3;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(1, 0.3, 0.1, 0.1);
    @keyframes changewidth3 {
      from {
        height: 245px;
        top: 18%;
        opacity: 0.73;
      }

      to {
        height: 250px;
        top: calc(18% + 15px);
        opacity: 0.43;
      }
    }
  }
}
