.main{
    color: white;

    .title{
        margin-top: 50px;
        text-align: center;
        text-shadow: 0px 3px 6px #00000029;
        letter-spacing: 0px;
        z-index: 0;
        .title_first {
            font-size: 63px;
            line-height: 70px;
            font-family: Avenir Next;
        }
        .title_second {
            font-weight: 900;
            font-size: 63px;
            line-height: 70px;
            font-family: Avenir Next;
        }
    }
    
    .subtitle{
        font-size: 20px;
        line-height: 40px;
        font-weight: 400;
        // font-family:Avenir;
        text-align: center;
        letter-spacing: 0px;
    }
    .collection{
        margin-top: 196px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: Avenir Next;
        font-size: 72px;
        letter-spacing: 2px;
        // color: #FFFFFF;
        text-align: center;
        .collection_title_first{
            font-weight: 300;
            font-size: 80px;
        }
        
        .collection_title_second {
            font-weight: 500;
            font-size: 80px;
        }
    }
    .markIcon{
        margin-top: 904px;
    }
    .bg {
        padding-top: 94px;
        padding-bottom: 513px;
        width: 100%;
        background-size: cover;
        background-size: 100% 100%;
        position: relative;
    }
    .bg_img {
        position: absolute;
        width: 100%;
        top: 142px;
    }
}