.navText:hover {
    color: #16B4FF;
    cursor: pointer;
}
.navText {
    margin-left: 120px;
}

.connectBtn {
    border: 1px solid #16B4FF !important;
    border-radius: 4px;
    cursor: pointer;
    font-family: Work Sans;
    font-size: 19px;
    letter-spacing: 0px;
    margin-left: 106px;
}