.aboutTitle{
    font-size: 28px;
    text-align: center;
    font-weight: 100;
    letter-spacing: 3.2px;
    color: #FFFFFF;
    text-shadow: 0px 3px 6px #00000029;
    margin-bottom: 20px;
    font: Avenir Next normal bold;
}

.aboutContainer {
    background-image: linear-gradient(180deg,#99D3E5 0%, #023252 14.5%, #000000 100%);
    background-repeat: no-repeat;
    position: relative;
}

.aboutContainerDark {
    background-image: linear-gradient( #0a2b42 0%, #00101E 44%, #000000 100%);
    background-repeat: no-repeat;
    position: relative;
}