.home_container {
    background-image: url('../../assests/images/ocean-background.png'),linear-gradient(180deg,#99D3E5 0%, #053554 32%, #000000 100%);
    background-repeat: no-repeat;
}

.home_container_dark {
    background-image: url('../../assests/images/ocean-background-dark.png'),url('../../assests/images/cryptowhales-dark-background.jpg'),linear-gradient( #0a2b42 0%, #00101E 72%, #000000 100%);
    background-repeat: no-repeat;
}