.m_footer {
    color: #fff;
    z-index: 2;
    .m_title{
        margin: 0 25px;
        min-width: 300px;
        line-height: 35px;
        text-align: center;
        font: Avenir;
        font-size: 12px;
        font-weight: 100;
    }
    .m_cpwrite{
        font: normal normal 300 10px/11px Work Sans;
    }
}