.main{
    color: white;

    .title{
        text-align: center;
        text-shadow: 0px 3px 6px #00000029;
        letter-spacing: 3px;
        z-index: 0;
        margin-bottom: 15px;
        .title_first {
            line-height: 40px;
            font: normal normal normal 32px/36px Avenir Next;
        }
        .title_second {
            line-height: 40px;
            font: normal normal bold 36px/40px Avenir Next;
        }
    }
    
    .subtitle{
        font-size: 20px;
        line-height: 40px;
        font-weight: 400;
        // font-family: Avenir;
        text-align: center;
        max-width: 430px;
        margin: 0 20px
    }
    .collection{
        margin-top: 250px;
        font-size: 30px;
        letter-spacing: 3px;
        text-align: center;
        .collection_title_first{
            font-weight: lighter;
            font-size: 25px;
            display: inline;
        }
        
        .collection_title_second {
            font-weight: 300;
            font-size: 30px;
        }
    }
    .markIcon{
        margin-top: 550px;
    }
    .bg {
        padding-top: 94px;
        padding-bottom: 513px;
        width: 100%;
        background-size: cover;
        background-size: 100% 100%;
        position: relative;
    }
    .bg_img {
        position: absolute;
        width: 100%;
        top: 142px;
    }
}